<div class="p-6 md:w-80">
    <a href="{{ product.url }}">
        <img 
        src="{{ product.featured_media | img_url: 'master' }}" alt="{{product.featured_media.alt}}" 
        class="hidden object-cover w-full h-96 md:block">
    </a>
    <div class="mt-4">
        <h3 class="uppercase md:text-xl">
            <a href="{{ product.url }}">
                {{product}}
                <span class="font-light">
                    {{product.price | money}}
                </span>
            </a>
        </h3>
        <p class="text-base">
            <div class="line-clamp-4">
                {{product.description}}
            </div>
            <a href="{{ product.url }}" class="text-cyan-500">More information</a>
        </p>
    </div>
</div>