<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{page_title}}</title>
    
    <style>
      :root{
        --color_accent: {{settings.color_accent}};
        --color_body_text: {{settings.color_body_text}};
        --color_main_bg: {{settings.color_main_bg}};
      }
    </style>
    {{'theme.css' | asset_url | stylesheet_tag}}

    {{content_for_header}}
    <script src="//unpkg.com/alpinejs" defer></script>
  </head>
  <body class="{{ template }}">
    {% section 'header' %}
    <main>
      {{content_for_layout}}
    </main>
    {% section 'footer' %}
  </body>
</html>
