<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{page_title}}</title>
    
    {{'theme.css' | asset_url | stylesheet_tag}}
    {{'https://code.jquery.com/jquery-2.2.0.min.js' | script_tag}}
    {{content_for_header}}

    <style>
      :root{
        --color_accent: {{settings.color_accent}};
        --color_body_text: {{settings.color_body_text}};
        --color_main_bg: {{settings.color_main_bg}};
      }
    </style>
  </head>
  <body class="{{ template }}" :class="$store.mobileMenu.open && 'overflow-hidden'" x-data>
    {% section 'navigation' %}
    <main>
      {{content_for_layout}}
    </main>
    {% section 'footer' %}
    
    <script src="//unpkg.com/alpinejs" defer></script>
    <script src="{{'theme.js' | asset_url}}"></script>
  </body>
</html>
