<div class="container mx-auto">
    <div class="md:flex mt-8 md:-mx-4">
        <div class=" grid md:grid-cols-2 grid-cols-1 md:gap-10 gap-4 mx-auto">
            {% for block in section.blocks %}
                {% if block.type == 'collection' %}
                    <div class="w-full h-64 mt-8 md:mx-4 rounded-md overflow-hidden bg-cover bg-center md:mt-0" style="background-image: url({{block.settings.background_image | img_url: 'master'}})">
                        <div class="bg-gray-900 bg-opacity-50 flex items-center h-full">
                            <div class="px-10 max-w-xl">
                                {% if block.settings.title != blank %}
                                <h2 class="text-2xl text-white font-semibold">{{block.settings.title}}</h2>
                                {% endif %}
                                
                                {% if block.settings.subtitle != blank %}
                                <div class="mt-2 text-gray-400">{{block.settings.subtitle}}</div>
                                {% endif %}
                                
                                {% if block.settings.button_text != blank %}
                                <a href="{{block.settings.button_url}}" class=" bg-indigo-600 text-white px-4 py-2 rounded-md flex items-center space-x-1 w-max mt-4">
                                    <span>{{block.settings.button_text}}</span>
                                    <svg class="h-5 w-5 mx-2" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M17 8l4 4m0 0l-4 4m4-4H3"></path></svg>
                                </a>
                                 {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>


{% schema %}
{
   "name":"collection-list",
   "blocks":[
      {
         "name":"Collection",
         "type":"collection",
         "limit": 6,
         "settings":[
            {
               "id":"title",
               "label":"Title",
               "type":"text",
               "placeholder":"Primary title",
               "default":"Sport Shoes"
            },
            {
               "id":"subtitle",
               "label":"Sub title",
               "type":"richtext",
               "default":"<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore facere provident molestias ipsam sint voluptatum pariatur.</p>"
            },
            {
               "type":"image_picker",
               "id":"background_image",
               "label":"Background image"
            },
            {
               "type":"text",
               "id":"button_text",
               "label":"button Text",
               "default":"Shop Now",
               "info":"Button text",
               "placeholder":"Button text"
            },
            {
               "type":"url",
               "id":"button_url",
               "label":"Button Url"
            }
         ]
      },
      {
         "name": "test",
         "type": "test",
            "settings": [
                {
                    "id": "test-0-14",
                    "label": "Test",
                    "type": "text"
                }
            ]
      }
   ]
}
{% endschema %}