<div 
style="background-color: {{section.settings.background_color}};"
class=" 
    spacing-vertical-{{section.settings.spacing_vertical_mobile}}
    spacing-vertical-lg-{{section.settings.spacing_vertical_desktop}}
    spacing-horizontal-{{section.settings.spacing_horizontal_mobile}}
    spacing-horizontal-lg-{{section.settings.spacing_horizontal_desktop}}
">
    <div class="wrapper">
        <div class="grid col-count-{{section.settings.column_count_mobile}} col-count-lg-{{section.settings.column_count_desktop}} col-gap-{{section.settings.column_gap}}">
            {% for block in section.blocks %}
                <div class="bg-center bg-cover overflow-hidden min-h-[250px] rounded-md" style="background-image: url({{block.settings.background_image | img_url: 'master'}})">
                    <div class="flex items-center h-full bg-gray-900 bg-opacity-50">
                        <div class="max-w-xl px-10">
                            {% if block.settings.title != blank %}
                            <h2 class="text-2xl font-semibold text-white">{{block.settings.title}}</h2>
                            {% endif %}
                            
                            {% if block.settings.subtitle != blank %}
                            <div class="mt-2 text-gray-400">{{block.settings.subtitle}}</div>
                            {% endif %}
                            
                            {% if block.settings.button_text != blank %}
                            <a href="{{block.settings.button_url}}" class="flex items-center mt-4 text-sm font-medium text-white uppercase rounded hover:underline focus:outline-none">
                                <span>{{block.settings.button_text}}</span>
                                <svg class="w-5 h-5 mx-2" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M17 8l4 4m0 0l-4 4m4-4H3"></path></svg>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% schema %}
{
    "name":"collection-list",
    "settings": [
        {
            "type": "color",
            "id": "background_color",
            "label": "Background Color",
            "default": "#ffffff",
            "info": "Section Background Color"
        },
        {
            "type": "range",
            "id": "column_gap",
            "label": "Column Gap",
            "min": 1,
            "max": 10,
            "step": 1,
            "default": 1
        },
        {
            "type": "range",
            "id": "column_count_mobile",
            "label": "Mobile: Column Count",
            "min": 1,
            "max": 12,
            "step": 1,
            "default": 1
        },
        {
            "type": "range",
            "id": "column_count_desktop",
            "label": "Desktop: Column Count",
            "min": 1,
            "max": 12,
            "step": 1,
            "default": 2
        },
        {
            "type": "range",
            "id": "spacing_horizontal_mobile",
            "label": "Mobile: Horizontal Spacing",
            "min": 0,
            "max": 12,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "spacing_horizontal_desktop",
            "label": "Desktop: Horizontal Spacing",
            "min": 0,
            "max": 12,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "spacing_vertical_mobile",
            "label": "Mobile: Vertical Spacing",
            "min": 0,
            "max": 12,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "spacing_vertical_desktop",
            "label": "Desktop: Vertical Spacing",
            "min": 0,
            "max": 12,
            "step": 1,
            "default": 6
        }
    ],
   "blocks":[
      {
         "name":"Collection",
         "type":"collection",
         "limit": 6,
         "settings":[
            {
               "id":"title",
               "label":"Title",
               "type":"text",
               "placeholder":"Primary title",
               "default":"Sport Shoes"
            },
            {
               "id":"subtitle",
               "label":"Sub title",
               "type":"richtext",
               "default":"<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore facere provident molestias ipsam sint voluptatum pariatur.</p>"
            },
            {
               "type":"image_picker",
               "id":"background_image",
               "label":"Background image"
            },
            {
               "type":"text",
               "id":"button_text",
               "label":"button Text",
               "default":"Shop Now",
               "info":"Button text",
               "placeholder":"Button text"
            },
            {
               "type":"url",
               "id":"button_url",
               "label":"Button Url"
            }
         ]
      }
   ]
}
{% endschema %}