<footer class="{{section.id}} footer-wrapper">
    <nav class="flex space-x-4">
        {% for link in section.settings.primary_menu.links %}
            <a class="uppercase {% if link.active %}underline{% endif %}" href="{{link.url}}">{{link.title}}</a>
        {% endfor %}
    </nav>
</footer>

{%- style -%}
.{{section.id}}.footer-wrapper{
    height: 147px;
    background-color: {{ section.settings.bg_color }};
}
{%- endstyle -%}

{% schema %}
{
    "name": "Footer",
    "settings": [
        {
            "type": "color",
            "id": "bg_color",
            "label": "Background Color",
            "default": "#e6e6e6",
            "info": "Footer background color"
        },
        {
            "type": "link_list",
            "id": "primary_menu",
            "label": "Footer Primary Menu"
        },
        {
            "type": "link_list",
            "id": "secondary_menu",
            "label": "Footer Secondary Menu"
        },
        {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo"
        },
        {
            "type": "richtext",
            "id": "copyright_text",
            "label": "Copyright Text"
        }
    ]
}
{% endschema %}