<footer class="{{section.id}} footer-wrapper p-7 md:p-16 gap-14 md:gap-0 flex md:flex-col justify-center">
    <div class="flex items-center justify-between">
        <nav class="flex flex-col space-y-2 md:flex-row md:space-y-0 md:space-x-4 lg:space-x-20">
            {% for link in section.settings.primary_menu.links %}
                <a class="uppercase text-[11px] md:text-[14px] lg:text-[21px] {% if link.active %}underline{% endif %} hover:text-gray-500" href="{{link.url}}">{{link.title}}</a>
            {% endfor %}
        </nav>
        <div class="hidden md:block">
            {% render 'logo', logo: section.settings.logo has_logo: true  %}
        </div>
    </div>

    <div class="order-first md:order-none md:mt-3">
        <div class="mb-6 md:hidden">
            {% render 'logo', logo: section.settings.logo has_logo: true  %}
        </div>
        <div class="flex flex-col justify-end gap-2 md:gap-0 md:space-x-4 md:items-center md:flex-row">
            {% for link in section.settings.secondary_menu.links %}
                <a class="uppercase text-[11px] md:text-gray-500 {% if link.active %}underline{% endif %} hover:text-gray-500" href="{{link.url}}">{{link.title}}</a>
            {% endfor %}

            <div class="text-gray-500 md:text-[11px] text-[8px]">{{section.settings.copyright_text}}</div>
        </div>
    </div>
</footer>

{%- style -%}
.{{section.id}}.footer-wrapper{
    background-color: {{ section.settings.bg_color }};
}
{%- endstyle -%}

{% schema %}
{
    "name": "Footer",
    "settings": [
        {
            "type": "color",
            "id": "bg_color",
            "label": "Background Color",
            "default": "#e6e6e6",
            "info": "Footer background color"
        },
        {
            "type": "link_list",
            "id": "primary_menu",
            "label": "Footer Primary Menu"
        },
        {
            "type": "link_list",
            "id": "secondary_menu",
            "label": "Footer Secondary Menu"
        },
        {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo"
        },
        {
            "type": "richtext",
            "id": "copyright_text",
            "label": "Copyright Text"
        }
    ]
}
{% endschema %}