

<div class="max-w-6xl mx-auto my-32">
    <div class="gallery">
        <div class="w-1/4 grid-sizer"></div>
        {% for block in section.blocks %}
            {% case block.type %}
                {% when 'gallery-image' %}
                <div {{ block.shopify_attributes }} class="float-left gallery__item">
                    <img 
                        data-zoomable
                        src="{{block.settings.image | img_url: 'master'}}" 
                        alt="{{block.settings.image.alt}}" 
                    />
                </div>                    
            {% endcase %}
        {% endfor %}
    </div>
</div>
{{ 'imagesloaded.js' | asset_url | script_tag}}
{{ 'isotope.js' | asset_url | script_tag}}
{{ 'zoom.js' | asset_url | script_tag}}

{% javascript %}
mediumZoom('[data-zoomable]')

var $grid = $('.gallery').isotope({
  itemSelector: '.gallery__item',
  percentPosition: true,
  masonry: {
    columnWidth: '.grid-sizer'
  }
});

$grid.imagesLoaded().progress( function() {
  $grid.isotope('layout');
});

{% endjavascript %}

{% stylesheet %}
    .gallery{}
    .gallery__item{
        width: calc(25% - 14px);
        margin: 7px;
    }
    @media (max-width: 768px) {
        .gallery__item{
            width: calc(50% - 14px);
        }
    }
{% endstylesheet %}


{% schema %}
{
   "name": "Image Gallery",
   "blocks": [
        {
           "name": "Image",
           "type": "gallery-image",
           "settings": [
               {
                   "type": "image_picker",
                   "id": "image",
                   "label": "Image"
               }
           ]
        }
   ]
}
{% endschema %}