<div x-data="password_app()" class="relative grid h-screen grid-cols-12">
    
    <!-- Password popup trigger button -->
    <button @click="modal_open = true" class="absolute flex items-center space-x-1 top-2 right-4">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd" />
        </svg>
        <span>Enter using password</span>
    </button>

    <div class="fixed top-0 left-0 flex items-center justify-center w-full h-full z-1" x-cloak x-show="modal_open">
        <div class="fixed w-full h-full bg-gray-500 opacity-50"></div>
        <div class="relative w-3/12 p-8 mx-auto bg-yellow z-2" @click.away="modal_open = false">
            <button @click="modal_open = false" class="absolute text-3xl text-dark top-2 right-4">&times;</button>
            {% form 'storefront_password', class: 'flex flex-col gap-2' %}
                <h3 class="text-xl font-semibold">Enter using password</h3>
                <input type="password" name="password" class="w-full p-4 bg-transparent border-2 border-dark focus:outline-none" placeholder="Password" />
                <button class="px-4 py-2 text-xl text-white bg-dark">Enter</button>
            {% endform %}
        </div>
    </div>


    <div class="hidden col-span-4 bg-center bg-cover md:block left-image"></div>
    <div class="col-span-12 bg-center bg-cover md:col-span-8 right-image">
        <div class="flex items-start justify-center h-full md:items-center">
            <div class="w-[400px] mt-[40px] md:mt-0 p-8 bg-yellow">
                <div>
                    <h2 class="text-3xl uppercase md:text-5xl font-Akkurat">{{ section.settings.title }}</h2>
                    <p class="text-sm">{{ section.settings.subtitle }}</p>
                </div>
                <div class="mt-36"></div>
                {% form 'customer' %}
                    <p class="text-red-500">
                        {{ form.errors | default_errors }}
                    </p>
                    <input type="hidden" name="contact[prospect]">
                    <div class="grid grid-cols-12">
                        <button type="submit" class="col-span-4 text-sm font-semibold">Join the club</button>
                        <div class="grid items-center grid-cols-12 col-span-8 ">
                            <label for="email" class="col-span-3">e-mail</label>
                            <input name="contact[email]" type="text" id="email" class="col-span-9 bg-transparent border-b-2 border-black focus:outline-none">
                        </div>
                    </div>
                {% endform %}
            </div>
        </div>
    </div>
</div>

<!-- Desktop Logo -->
<div class="transform top-1/2 translate-y-[-50%] pl-10 fixed hidden md:block">
    {% render 'logo' logo: section.settings.logo, has_logo: section.settings.logo != blank %}
</div>

{%- style -%}
.left-image{
    background-image: url({{section.settings.image_left | img_url: "master"}});
}
.right-image{
    background-image: url({{section.settings.image_right | img_url: "master"}});
}
{%- endstyle -%}


{% javascript %}
document.addEventListener('alpine:init', () => {
    Alpine.data('password_app', () => ({
        modal_open: true
    }));
});
{% endjavascript %}

{% schema %}
{
   "name": "Comming Soon",
   "settings": [
        {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo"
        },
        {
            "type": "image_picker",
            "id": "image_left",
            "label": "Left Image"
        },
        {
            "type": "image_picker",
            "id": "image_right",
            "label": "Right Image"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "fred is comming out!"
        },
        {
            "type": "text",
            "id": "subtitle",
            "label": "Sub Title",
            "default": "Responsible luxury made for life's daily rides."
        }
   ]
}
{% endschema %}